<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/flaglist.css">
    <script src="js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="js/html2canvas.min.js"></script>
</head>

<body>
    <img class="generate box2" id="generate" crossOrigin="anonymous">
    <div class="big2 hidden" id="main2" style="visibility:hidden">
        <div class="box2">
            <img src="img/title4.png" class="title">

            <ul v-for="(flag, index) of flags" :key="index">
                <flag-list :flag-content="flag"></flag-list>
            </ul>
            <div class="bottom">
                <img src="img/rabbit.png" class="rabbit">
                <img src="img/line.png" class="line">
                <div class="name" id="name"></div>
                <div class="time" id="time"></div>
                <img src="img/logo2.png" class="logo">
                <img src="img/code1.png" class="code">
            </div>
        </div>
    </div>
    <div class="big">
        <div class="box" id="main">
            <img src="img/title4.png" class="title">

            <ul v-for="(flag, index) of flags" :key="index">
                <flag-list :flag-content="flag"></flag-list>
            </ul>
            <div class="bottom">
                <img src="img/rabbit.png" class="rabbit">
                <img src="img/line.png" class="line">
                <div class="name" id="name"></div>
                <div class="time" id="time"></div>
                <img src="img/logo2.png" class="logo">
                <img src="img/code2.png" class="code" id="code">
            </div>

        </div>
        <div class="btn" onclick="Continue()" style="display: none;">继续</div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/conf.js"></script>
    <script>
        Vue.component("flag-list", {
            props: ['flagContent'],
            template: `
            <li>
                <span class="text">
                    {{flagContent}}
                </span>
            </li>
            `
        })

        var main = new Vue({
            el: "#main",
            data() {
                return {
                    flags: []
                }
            },
            methods: {

            },

        })

        var main2 = new Vue({
            el: "#main2",
            data() {
                return {
                    flags: []
                }
            },
            methods: {

            },

        })
        if (!~window.location.href.indexOf("hide"))
            $(".btn")[0].style.display = "block"

        axios.get(prefix + 'getFlag')
            .then(function (res) {
                document.getElementById("name").innerText = res.data.name;
                main.$data.flags = res.data.flag;
                main2.$data.flags = res.data.flag;
                //图片？
                setTimeout(() => {
                    var node = document.getElementById('main2');
                    node.style.visibility = "visible"
                    html2canvas(node).then((canvas) => {
                        $("#generate")[0].src = canvas.toDataURL()
                    })
                }, 500)
            })
            .catch(function (err) {
                if (err.response) {
                    switch (err.response.status) {
                        case 401:
                            Bindwx();
                            break;
                        case 404:
                            console.log("未填写flag");
                            location.href = "flag.html";
                            break;
                        case 406:
                            Subscribe();
                            break;
                    }
                } else {
                    alert("请求发送失败，请稍后再试");
                }
            })




        function Continue() {
            window.location.href = "intro2.html";
        }

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = ".";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return (currentdate);
        }
        document.getElementById("time").innerText = "立于" + getNowFormatDate();
    </script>
</body>

</html>